.pop-up-window.active {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   position: relative;
}
.wrapper-pop-up {
    z-index: 4;
    width: 300px;
    height: 550px;
    position: absolute;
    left: 40%;
    top: -335px;
    background-color: #6563FF;
    color: white;display: flex;
    flex-direction: column;
    border-radius: 10px;
    outline: 2px solid black;
    justify-content: space-between;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
   
}
.asigment-doctor.active {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.asigments-form-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.cardiologist-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}
.teeth-care-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;  
    gap: 10px;
}
.therapist-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    gap: 10px;
}
.closer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
border: 2px solid rgb(0, 0, 0);
border-radius: 10px;
}
.closer-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}
.pop-up-window {
    display: none;
}
.doctor-specialisation {
    display: flex;
    gap: 15px;
    flex-direction: column;
}
.send {
    display: flex;
    justify-content: center;
}
.sender {
    display: block;
    position: relative;
    background-color: #6563FF;
    border-radius: 1em;
    font-size: 16px;
    color: white;
    padding: 0.8em 1.8em;
    cursor:pointer;
    user-select:none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; 
    border: none;
    outline: 1px solid black;
}
.cardiologist.active {
    display: block;
}
.cardiologist {
    display: none;
}
.teeth-care.active {
    display: block;
}
.teeth-care {
    display: none;
}
.therapist.active {
display: block;
}
.therapist {
    display: none;
}
.wrong {
    color: #ffffff;
    background-color: #ff0000;
    width: 125px;
    border-radius: 10px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.password.active {
    display: flex;
    justify-content: flex-end;
    padding-right: 4%;
    padding-top: 1%;

}
.password {
    display: none;
}
.cardiologist.active {
    display: block;
}
.cardiologist {
    display: none;
}
.teeth-care.active {
    display: block;
}
.teeth-care {
    display: none;
}
.therapist.active {
    display: block;
}
.therapist {
    display: none;
}