html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Lato", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.button.active {
  display: block;
  position: relative;
  background-color: #6563ff;
  border-radius: 1em;
  font-size: 16px;
  color: white;
  padding: 0.8em 1.8em;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  border: none;
}

.button.active:hover {
  transition-duration: 0.1s;
  background-color: #3a3a3a;
}

.button.active:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.button.active:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.button.active:active {
  top: 1px;
}

.button2.active {
  display: block;
  position: relative;
  background-color: #6563ff;
  border-radius: 1em;
  font-size: 16px;
  color: white;
  padding: 0.8em 1.8em;
  cursor: pointer;
  user-select: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  border: none;
}

.button2.active:hover {
  transition-duration: 0.1s;
  background-color: #3a3a3a;
}

.button2.active:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.5s;
  box-shadow: 0 0 10px 40px white;
}

.button2.active:active:after {
  box-shadow: 0 0 0 0 white;
  position: absolute;
  border-radius: 4em;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}

.button2.active:active {
  top: 1px;
}
.button2 {
  display: none;
}
.button {
  display: none;
}

@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");

.header {
  height: 70px;
  background-color: #ebd8fb;
  background-image: url(../images/purple-pink-watercolor-texture-background.jpg);
}
.header-wrapper {
  display: flex;
  align-items: space-between;
  gap: 80%;
  justify-content: center;
  padding-top: 10px;
}
main {
  background-image: url(../images/violet-watercolor-texture-background.jpg);
  height: 2000px;
}
.filter-form {
  display: flex;
}
.form-search {
  z-index: 2;
  font-family: "Lato", sans-serif;
  width: 500px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #6563ff;
  color: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
}
.filter-backround {
  display: flex;
  z-index: 1;
  margin-top: 10%;
  margin-left: 50%;
  width: 510px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #3363ff;
  color: white;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.filter-backround:after {
  position: absolute;
  height: 93%;
  width: 93%;
  top: 3.5%;
  left: 3.5%;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  font-size: 20px;
  letter-spacing: 6px;
  display: grid;
  place-items: center;
}
input {
  border-radius: 0.25rem;
  border: none;
}
.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cards-paragraph-main {
  padding-top: 2%;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 20px;
}
.position-paragraph {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 80px;
  background-color: #6563ff;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
}
.login-form.active {
  transition: all 0.5s ease-out;
  display: block;
  margin-left: 85%;
  margin-top: 2%;
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
}
.login-form {
  transition: all 0.5s ease-out;
  display: none;
}
.login-form-header {
  gap: 10px;
  background-color: #6563ff;
  width: 200px;
  height: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.3);
}

#btn-delete {
  width: 1em;
  height: 1em;
  background-color: red;
  clip-path: polygon(
    20% 0%,
    0% 20%,
    30% 50%,
    0% 80%,
    20% 100%,
    50% 70%,
    80% 100%,
    100% 80%,
    70% 50%,
    100% 20%,
    80% 0%,
    50% 30%
  );
  position: absolute;
  right: 5px;
  top: 5px;
}
.additional-info {
  display: none;
}

.additional-info.active {
  display: block;
}

.card {
  position: relative;
  width: 300px;
}
.card-body {
  display: inline-block !important;
}

.card-info {
  text-align: center;
}

#btn-edit {
  width: 45%;
}

#btn-more {
  width: 45%;
  margin-right: 25px;
}

.btn-all:hover {
  background-color: lavender !important;
}

.btn-all:active {
  background-color: cornflowerblue !important;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
#cardContainer {

  color: white;

}
